<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>설문 항목</title>
</head>
<body>
    <h1>설문 항목</h1>
    <form action = "{% url 'poll:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            {% if error %}
                {{ error }}
            {% endif %}
            <legend>{{ question.question_text }}</legend>
            {% for choice in question.choice_set.all %}
            <p>
                <input type="radio" name="choice" value="{{ choice.id }}">
                <label>{{ choice.choice_text }}</label>
            </p>
            {% endfor %}
        </fieldset>
        <p><input type="submit" value="투표"></p>
    </form>


    <!--<ul>
        {% for choice in question.choice_set.all %}
        <li>choice.choice_text</li>
        {% endfor %}
    </ul>-->
</body>
</html>